# * whatthememe/__pycache__/
whatthememe_project/whatthememe_project/.env
# * whatthememe_project/whatthememe/__pycache__
# * whatthememe_project/whatthememe/whatthememe_project/__pycache__

.env

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?