
@font-face {
  font-family: RamettoOne;
  src: url('./assets/Images/Rammetto_One.ttf');
}

.off-canvas-title {
  font-family: RamettoOne;
}
.off-nav-header {
  background-color: #fff960;
}

.dropdown-menu {
  background-color: transparent;
}

.friend-off-canvas, .join-game-off-canvas {
  /* background: rgb(244,255,91); */
  /* background: linear-gradient(157deg, rgba(244,255,91,0.9850491221879377) 31%, rgba(254,198,71,0.9626401586025035) 60%, rgba(58,180,236,1) 96%); */

  background: rgb(255,249,96);
  background: linear-gradient(157deg, rgba(255,249,96,1) 20%, rgba(254,198,71,0.9626401586025035) 53%, rgba(58,180,236,1) 96%);

}

.selected-title,.hand-title, .welcome {
  font-family: RamettoOne;
}

.friend-title, .friendrequest-title, .off-canvas-title {
  font-size: 1.8rem;

}

.small-button {
  font-size: .85rem;
  padding: .3rem;
}

.fs-lg {
  font-size: 2.5rem;
}

.fs-sm {
  font-size: 1.2rem;
}

.fs-md {
  font-size: 1.8rem;
}

a, .dropdown-item {
  color: #fa6d20;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.maincontainer{
  width: 160px;
  height: 225px;
  background: none;
  margin-bottom: 4.5rem;
}

.navbar::after {
  margin-bottom: 2rem;
  clear:both;
  /* color: #FF8F35; */
}

.gamepage, .memeContainer, .memecard {
  text-align: center;
  justify-content: center;
}


.memecard {
  background: none;
  width: 350px; 
  height: 350px;
  display: flex;
  margin-bottom: 4rem;
  /* background-color: aquamarine; */
}

#memeImage {
  max-width: 350px; 
  max-height: 450px;
}


/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border: red solid 5px; */
}

.thecard.is-flipped {
  transform: rotateY(180deg);
}

.thecard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront, .face-up-meme{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  /* background: #ffc728; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}

.thefront {
  background-color: #FF8F35;
  color: #000;
}

.theback, .face-down-meme{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: #FF8F35 solid 3px;
  background: #FDFDB491;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: url('../src/assets/Images/logo-med.png');
  background-position: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  transform: rotateY(180deg);
}

.btn {
  /* color: #fa6d20; */
  border-color: #fa6d20;
  background-color: #ffc141;
  letter-spacing: .05rem;
}
.thefront h1, .theback h1{
  /* font-family: RamettoOne, sans-serif; */
  /* font-family: 'Days One', sans-serif; */
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/* https://github.dev/TylerPottsDev/card-flip */